* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--color-black);
  background-color: var(--color-white);
  margin: 0;
}

img {
  display: block; /*убрать отступ картинки внизу */
  max-width: 100%;
  height: auto;
}

ul,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

footer {
  background-color: var(--color-gray-bgr);
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1600px) {
    max-width: 1600px;
  }
}

.icon {
  fill: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

