.header {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray-header-line);

  height: 60px;

  @media screen and (min-width: 768px) {
    height: 80px;
  }

  position: sticky;
  top: -1px;
  z-index: 9999;
}
