.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    /*position: absolute;
    left: 0;
    top: 0;
    z-index: 10000;

    width: 480px;
    height: 796px;

    padding: 48px 40px;

    background-color: var(--color-white);

    @media screen and (max-width: 320px) {
      width: 100%;
    }*/
  }

  @media screen and (min-width: 768px) {
    width: 100%;

    display: flex;
    justify-content: space-between;
  }
}

.btn-menu {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  @include transition(color);

  &:hover,
  &:focus {
    color: var(--color-blue);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
