 /*Синий оверлей с текстом на карточках страницы Портфолио*/
.projects__thumb {
  position: relative;
  overflow: hidden;
}
  
.projects__card-vishid {
  background-color: var(--color-blue09);
  
  padding: 63px 24px;
  
  position: absolute;
  
  transform: translatey(0);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.projects__link:hover .projects__card-vishid,
.projects__link:focus .projects__card-vishid {
  transform: translatey(-100%);
}

.projects__description {
  font-size: 18px;
  line-height: 1.56;
  
  color: var(--color-white);
}