.projects__list {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * #{var(--set-gap)});
  margin-top: calc(-1 * #{var(--set-gap)});
}

.projects__item {
  flex-basis: calc(100% / 3 - #{var(--set-gap)} - 3px);
  margin-left: var(--set-gap);
  margin-top: var(--set-gap);
  
  border-left: 1px solid var(--color-gray-border);
  border-right: 1px solid var(--color-gray-border);
  border-bottom: 1px solid var(--color-gray-border);
}

.projects__link {
  height: 100%;
  text-decoration: none;
  
  display: block;
  
  @include transition(box-shadow);
  
  &:hover,
  &:focus {
    box-shadow: var(--portfolio-card-shadow);
  }
}

.projects__box{
  padding: 20px 24px;
}

.projects__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--color-black);
}
  
.projects__type {
  font-size: 16px;
  line-height: 1.87;

  color: var(--color-gray);

  margin-top: 4px;
}
